/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, ../sass/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, ../sass/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* line 1, ../sass/modules/_global-styles.scss */
* {
  outline: none; }

/* line 7, ../sass/modules/_global-styles.scss */
html {
  height: 100%; }

/* line 11, ../sass/modules/_global-styles.scss */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #4A4A4A;
  margin: 0;
  line-height: 1.5em; }

/* line 21, ../sass/modules/_global-styles.scss */
.wrapper a {
  border-bottom: solid 2px #2EBDB2;
  color: #4A4A4A; }

/* line 27, ../sass/modules/_global-styles.scss */
.work-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #ccc;
  padding: 1.5em 0; }
  /* line 15, ../sass/bourbon/addons/_clearfix.scss */
  .work-wrapper:after {
    content: "";
    display: table;
    clear: both; }

/* line 33, ../sass/modules/_global-styles.scss */
.work-media {
  margin: 0; }

/* line 38, ../sass/modules/_global-styles.scss */
.work-media {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  /* line 85, ../sass/neat/grid/_span-columns.scss */
  .work-media:last-child {
    margin-right: 0; }

/* line 43, ../sass/modules/_global-styles.scss */
.work-text {
  float: left;
  display: block;
  width: 48.82117%; }
  /* line 48, ../sass/modules/_global-styles.scss */
  .work-text p {
    font-size: 1em; }
  /* line 52, ../sass/modules/_global-styles.scss */
  .work-text h1 {
    font-size: 1.5em;
    margin-top: .5em;
    text-align: left;
    line-height: 2em; }
    /* line 59, ../sass/modules/_global-styles.scss */
    .work-text h1 a {
      padding: .5em 0; }

/* line 65, ../sass/modules/_global-styles.scss */
.post {
  border-bottom: 1px solid #ccc;
  margin: 0; }

/* line 71, ../sass/modules/_global-styles.scss */
.meta {
  font-style: italic;
  margin: 0;
  max-width: 40.875rem; }
  /* line 76, ../sass/modules/_global-styles.scss */
  .meta li {
    margin: 0; }
  /* line 79, ../sass/modules/_global-styles.scss */
  .meta a {
    margin: 0 .3em;
    color: palevioletred; }

/* line 85, ../sass/modules/_global-styles.scss */
time.updated {
  float: left;
  width: 100%;
  margin: 1em auto;
  text-align: center; }

/* line 92, ../sass/modules/_global-styles.scss */
.article-meta {
  width: 100%;
  margin: 0;
  max-width: 100%; }
  /* line 98, ../sass/modules/_global-styles.scss */
  .article-meta li {
    display: inline-block;
    margin: 0 .3em;
    background-color: #F9F9F9;
    padding: .5em; }

/* line 109, ../sass/modules/_global-styles.scss */
p.about-header {
  float: left;
  display: block;
  margin-right: 15.35765%;
  width: 14.70196%;
  color: #333; }

/* line 117, ../sass/modules/_global-styles.scss */
p.about {
  float: left;
  display: block;
  margin-right: 4.35765%;
  width: 29.909914%; }

/* line 124, ../sass/modules/_global-styles.scss */
.article-links {
  padding: 2em 0; }

/* line 128, ../sass/modules/_global-styles.scss */
.related-posts {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 30.76157%;
  padding: 3em 0; }
  /* line 135, ../sass/modules/_global-styles.scss */
  .related-posts h1 {
    font-size: 1.1em;
    text-align: left; }
  /* line 139, ../sass/modules/_global-styles.scss */
  .related-posts p {
    font-size: .98em; }
  /* line 143, ../sass/modules/_global-styles.scss */
  .related-posts a.more {
    border-bottom: solid 2px #2EBDB2; }

/* line 148, ../sass/modules/_global-styles.scss */
.content {
  margin-top: 4em; }
  /* line 151, ../sass/modules/_global-styles.scss */
  .content a {
    border-bottom: solid 2px #2EBDB2;
    color: #4A4A4A; }

/* line 158, ../sass/modules/_global-styles.scss */
.content a:hover {
  border-bottom: solid 2px #333; }

/* line 166, ../sass/modules/_global-styles.scss */
ul.post-nav {
  margin: 0 auto 2em auto;
  height: 100%;
  max-width: 50.875rem;
  overflow: hidden; }
  /* line 172, ../sass/modules/_global-styles.scss */
  ul.post-nav li {
    margin: 3em 0em 1em; }

/* line 178, ../sass/modules/_global-styles.scss */
figure.contact img {
  margin-bottom: 15px;
  -webkit-border-radius: 147px;
  -moz-border-radius: 123px;
  border-radius: 147px;
  width: 7em;
  float: left;
  margin: 1em 2em 2em 0; }

/* line 188, ../sass/modules/_global-styles.scss */
li.next {
  float: right; }

/* line 192, ../sass/modules/_global-styles.scss */
.links {
  margin: 2em 0; }

@media screen and (max-width: 1000px) {
  /* line 205, ../sass/modules/_global-styles.scss */
  .work-media {
    width: 100%; }

  /* line 210, ../sass/modules/_global-styles.scss */
  .work-text {
    width: 100%; } }
@media screen and (max-width: 700px) {
  /* line 218, ../sass/modules/_global-styles.scss */
  .article-meta {
    width: 11em;
    margin: 0em auto; }

  /* line 223, ../sass/modules/_global-styles.scss */
  .article-meta li {
    display: block;
    margin: 0.5em;
    padding: 0.2em; }

  /* line 229, ../sass/modules/_global-styles.scss */
  .related-posts {
    width: 100%; }

  /* line 233, ../sass/modules/_global-styles.scss */
  .span6 {
    width: 100%; }

  /* line 237, ../sass/modules/_global-styles.scss */
  .content {
    margin-top: 2em; }

  /* line 241, ../sass/modules/_global-styles.scss */
  ul.post-nav {
    text-align: center; }

  /* line 246, ../sass/modules/_global-styles.scss */
  .info p {
    width: 100%;
    float: left;
    text-align: center; }

  /* line 253, ../sass/modules/_global-styles.scss */
  figure.contact {
    width: 7em;
    margin: 0 auto; }

  /* line 258, ../sass/modules/_global-styles.scss */
  span {
    float: left;
    width: 100%;
    text-align: center; }

  /* line 264, ../sass/modules/_global-styles.scss */
  .meta {
    width: 25em; }
    /* line 267, ../sass/modules/_global-styles.scss */
    .meta li {
      margin: 0;
      display: block; } }
/* line 2, ../sass/modules/_header.scss */
header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: black; }
  /* line 15, ../sass/bourbon/addons/_clearfix.scss */
  header:after {
    content: "";
    display: table;
    clear: both; }

/* line 7, ../sass/modules/_header.scss */
.navigation {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  /* line 15, ../sass/bourbon/addons/_clearfix.scss */
  .navigation:after {
    content: "";
    display: table;
    clear: both; }

/* line 11, ../sass/modules/_header.scss */
a.logo {
  margin: 0;
  display: block;
  width: 12em;
  float: left; }

/* line 18, ../sass/modules/_header.scss */
.headergrid {
  clear: both;
  width: 100%; }
  /* line 23, ../sass/modules/_header.scss */
  .headergrid h2 {
    font-size: 2em;
    color: white;
    margin-bottom: 0.8em;
    max-width: 45%;
    line-height: 1.4em;
    margin: 0 auto 2em auto;
    text-align: center; }

/* line 35, ../sass/modules/_header.scss */
.header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 34.11922%;
  padding-top: 3em; }
  /* line 85, ../sass/neat/grid/_span-columns.scss */
  .header:last-child {
    margin-right: 0; }

/* line 41, ../sass/modules/_header.scss */
.links {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%; }
  /* line 85, ../sass/neat/grid/_span-columns.scss */
  .links:last-child {
    margin-right: 0; }

/* line 47, ../sass/modules/_header.scss */
h1 {
  font-size: 1.7em;
  padding: 1em 0; }

/* line 52, ../sass/modules/_header.scss */
ul {
  margin: 0 auto 2em auto;
  height: 100%;
  max-width: 22.875rem;
  overflow: hidden; }
  /* line 58, ../sass/modules/_header.scss */
  ul li {
    display: inline-block;
    margin: 0 2em; }

/* line 66, ../sass/modules/_header.scss */
ul.menu {
  margin: 0;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  text-align: right; }
  /* line 73, ../sass/modules/_header.scss */
  ul.menu li {
    display: inline-block;
    margin: 2em; }

@media screen and (max-width: 700px) {
  /* line 91, ../sass/modules/_header.scss */
  header {
    margin: 0; }

  /* line 97, ../sass/modules/_header.scss */
  a.logo {
    float: none;
    text-align: center;
    max-width: 100%; }

  /* line 103, ../sass/modules/_header.scss */
  ul.menu {
    margin: 1em 0;
    text-align: center; }

  /* line 108, ../sass/modules/_header.scss */
  ul {
    max-width: 16.875rem; }
    /* line 111, ../sass/modules/_header.scss */
    ul li {
      margin: 0 1em; } }
/* line 2, ../sass/modules/_footer.scss */
.contact {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ececec;
  padding: 3em 0; }
  /* line 15, ../sass/bourbon/addons/_clearfix.scss */
  .contact:after {
    content: "";
    display: table;
    clear: both; }
  /* line 6, ../sass/modules/_footer.scss */
  .contact h2 {
    padding: 1em;
    text-align: center;
    margin: 0; }

/* line 13, ../sass/modules/_footer.scss */
footer {
  width: 100%; }
  /* line 16, ../sass/modules/_footer.scss */
  footer h1 {
    font-size: 1.2em;
    color: white;
    text-align: left;
    padding: 1em 0; }
  /* line 25, ../sass/modules/_footer.scss */
  footer p {
    margin: 0;
    padding: 0 0 2em; }
  /* line 30, ../sass/modules/_footer.scss */
  footer ul {
    padding-top: 2em;
    height: 100%;
    max-width: 15.875rem; }
    /* line 35, ../sass/modules/_footer.scss */
    footer ul li {
      margin: 0 1em; }

/* line 42, ../sass/modules/_footer.scss */
h1.recent-updates {
  font-size: 1.7em;
  color: black;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em; }

/* line 51, ../sass/modules/_footer.scss */
.newsletter {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  /* line 15, ../sass/bourbon/addons/_clearfix.scss */
  .newsletter:after {
    content: "";
    display: table;
    clear: both; }
  /* line 54, ../sass/modules/_footer.scss */
  .newsletter form {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 59.82117%;
    margin-left: 25.58941%; }

/* line 63, ../sass/modules/_footer.scss */
#tlemail {
  padding: 1.0442em;
  font-size: 1em;
  width: 68%;
  background-color: #F7F7F7;
  border: none;
  font-family: "Lato", sans-serif; }

/* line 72, ../sass/modules/_footer.scss */
input.button {
  clear: both;
  border: 0 none;
  color: #FFF;
  display: inline-block;
  height: 3.44444em;
  margin: 0 5px 10px 0;
  padding: 0 1px;
  text-align: center;
  width: 8em;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  background-color: #4A4A4A;
  cursor: pointer; }

/* line 88, ../sass/modules/_footer.scss */
input.button:hover {
  background-color: #66F2B2;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -webkit-transform: translateZ(0);
  -webkit-transition: all .5s ease-out; }

@media screen and (max-width: 850px) {
  /* line 98, ../sass/modules/_footer.scss */
  #tlemail {
    width: 62%; } }
@media screen and (max-width: 850px) and (max-width: 700px) {
  /* line 106, ../sass/modules/_footer.scss */
  .newsletter form {
    margin-right: 2.35765%;
    width: 78.82117%;
    margin-left: 9.58941%; }

  /* line 112, ../sass/modules/_footer.scss */
  #tlemail {
    width: 100%; }

  /* line 116, ../sass/modules/_footer.scss */
  input.button {
    clear: both;
    border: 0 none;
    color: #FFF;
    display: inline-block;
    height: 3.44444em;
    margin: 1em 3em;
    padding: 0 1px;
    text-align: center;
    width: 11em;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    background-color: #4A4A4A;
    cursor: pointer; } }
/* line 45, ../sass/base.scss */
img {
  max-width: 100%;
  vertical-align: middle; }

/* line 50, ../sass/base.scss */
a {
  color: #fff;
  text-decoration: none; }

/* line 55, ../sass/base.scss */
h2 {
  font-size: 2.5em;
  font-weight: 700;
  margin: 2em 0 .5em;
  text-align: center;
  line-height: 1; }

/* line 63, ../sass/base.scss */
a:hover {
  color: #66F2B2;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -webkit-transform: translateZ(0);
  -webkit-transition: all .5s ease-out; }

/* line 71, ../sass/base.scss */
.wrap {
  max-width: 62em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  height: 100%;
  position: relative;
  padding: 0 3.55555em;
  overflow: hidden; }

/* line 83, ../sass/base.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  /* line 15, ../sass/bourbon/addons/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both; }

/* line 87, ../sass/base.scss */
.story {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F7F7F7; }
  /* line 15, ../sass/bourbon/addons/_clearfix.scss */
  .story:after {
    content: "";
    display: table;
    clear: both; }
  /* line 90, ../sass/base.scss */
  .story h2 {
    font-size: 2.5em;
    padding: 1em;
    text-align: center;
    margin: 0; }

/* line 99, ../sass/base.scss */
.items {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #ccc;
  padding: 2em 0; }
  /* line 15, ../sass/bourbon/addons/_clearfix.scss */
  .items:after {
    content: "";
    display: table;
    clear: both; }
  /* line 103, ../sass/base.scss */
  .items h2 {
    font-size: 1.5em;
    background-color: #758e6c;
    color: white;
    padding: 1em;
    text-align: center;
    margin: 0; }

/* line 113, ../sass/base.scss */
.team {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  /* line 85, ../sass/neat/grid/_span-columns.scss */
  .team:last-child {
    margin-right: 0; }
  /* line 115, ../sass/base.scss */
  .team p {
    margin: 1.5em 0; }

/* line 121, ../sass/base.scss */
.list {
  margin: 2em 0 3em;
  border-top: 3px solid #ccc; }

/* line 126, ../sass/base.scss */
.container-1 {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  /* line 15, ../sass/bourbon/addons/_clearfix.scss */
  .container-1:after {
    content: "";
    display: table;
    clear: both; }
  /* line 128, ../sass/base.scss */
  .container-1 h2 {
    font-size: 1.5em;
    background-color: #758e6c;
    color: white;
    padding: 1em;
    text-align: center;
    margin: 0; }

/* line 138, ../sass/base.scss */
.container-menu {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  height: 100%;
  position: relative;
  padding: 0 3.55555em;
  overflow: hidden; }

/* line 149, ../sass/base.scss */
.first {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  /* line 85, ../sass/neat/grid/_span-columns.scss */
  .first:last-child {
    margin-right: 0; }
  /* line 152, ../sass/base.scss */
  .first h1 {
    margin: 0em auto;
    height: 100%;
    position: relative;
    padding: 0 3.55555em;
    text-align: center; }
  /* line 161, ../sass/base.scss */
  .first p {
    margin: 2em auto;
    height: 100%;
    position: relative;
    padding: 0 3.55555em;
    overflow: hidden; }

/* line 170, ../sass/base.scss */
.contact-info {
  display: block;
  margin: 0 auto;
  width: 48.82117%; }
  /* line 174, ../sass/base.scss */
  .contact-info h1 {
    margin: 0em auto;
    height: 100%;
    position: relative;
    padding: 0 3.55555em;
    text-align: center; }
  /* line 183, ../sass/base.scss */
  .contact-info p {
    margin: 2em auto;
    height: 100%;
    position: relative;
    padding: 0 3.55555em;
    overflow: hidden; }

/* line 192, ../sass/base.scss */
.second-img {
  float: left;
  display: block;
  margin: 0;
  width: 33.333%;
  float: left; }
  /* line 199, ../sass/base.scss */
  .second-img img {
    margin: auto;
    width: 100%;
    height: auto;
    vertical-align: middle; }

/* line 207, ../sass/base.scss */
.column-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  /* line 85, ../sass/neat/grid/_span-columns.scss */
  .column-3:last-child {
    margin-right: 0; }
  /* line 209, ../sass/base.scss */
  .column-3 h1 {
    text-align: center;
    line-height: 1; }
  /* line 213, ../sass/base.scss */
  .column-3 p {
    margin: 2em auto;
    height: 100%;
    position: relative;
    padding: 0 1.55555em;
    overflow: hidden;
    text-align: center; }

/* line 223, ../sass/base.scss */
a.photo {
  width: 16.6667%;
  float: left;
  text-align: center; }
  /* line 228, ../sass/base.scss */
  a.photo img {
    margin: auto;
    width: 100%;
    max-width: 226px;
    height: auto;
    vertical-align: middle; }

/* line 238, ../sass/base.scss */
.column-1 {
  margin: 1em 0; }
  /* line 240, ../sass/base.scss */
  .column-1 p {
    text-align: center;
    padding: 1em 12em; }
  /* line 244, ../sass/base.scss */
  .column-1 h3 {
    text-align: center;
    padding: 0em 12em;
    font-size: 1.3em;
    margin: 0 0 1em; }

/* line 252, ../sass/base.scss */
h2.article-title {
  font-size: 2.7rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 1.4em 0 0em;
  line-height: 1.5em; }

/* line 260, ../sass/base.scss */
h2.page-title {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 1.4em 0 0em;
  text-align: center; }
