<footer class="contact">
      <div class="wrap">
        <h2> Contact </h2>
  <div class="contact-info">

    <p>
    Sed vestibulum, sem ut vulputate placerat, nunc lacus tincidunt velit, ac fringilla nulla nisl sit amet ligula. Aliquam porta dolor nec sem aliquam malesuada.
    </p>
  </div>

  <div class="first">
  </div>

  </div>
</footer>

<script src="/javascripts/scripts.js" type="text/javascript"></script>

</body>
</html>
